.search {
  display: none;
}
.search:hover {
  background-color: none;
}
form {
  background: none;
}
form:hover {
  color: white;
  border: none;
  background-color: none;
}
.flex img {
  width: 100%;
}
